<%- include('header'); -%> 

<h2>This is about page</h2>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque repellat distinctio quibusdam quo exercitationem ratione aliquam. Numquam molestiae asperiores maiores cupiditate tenetur ex quia inventore.</p>

<%- include('footer'); -%> 
